@mixin dots {
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $white;
    background: none;
}

@mixin circle {
    border-width: 1px;
    border-style: solid;
    border-color: $white;
    border-radius: 50%;
    padding: 10px;
}

@mixin button {
    background-color: transparent;
    border: 1px solid $dark;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all $transition-time;

    &:hover {
        background-color: $dark;
        color: $white;
    }

    @media screen and (max-width: $xs) {
        width: 100%;
        justify-content: center;
    }
}

