$transition-time: 0.3s;

$max-width: 1200px;

// colors 

$primary: #55b7ff;
$secondary: #7e5aff;
$light-grey: #bbb;
$white: #fff;
$dark: #2c4058;

// screen sizes 

$md: 998px;
$sm: 600px;
$xs: 400px;
